In [3]:
import pandas as pd

In [5]:
stock_prices = "./^KS11.csv"
stock_data = pd.read_csv(stock_prices, parse_dates=[0])
stock_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-04-09,2212.320068,2221.620117,2203.540039,2213.560059,2213.560059,414800
1,2019-04-10,2206.199951,2225.020020,2203.820068,2224.389893,2224.389893,399700
2,2019-04-11,2227.689941,2230.409912,2217.179932,2224.439941,2224.439941,402000
3,2019-04-12,2221.100098,2233.449951,2212.879883,2233.449951,2233.449951,449600
4,2019-04-15,2242.310059,2251.219971,2240.290039,2242.879883,2242.879883,404200